<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<div id="user-info"></div>
<script>

    document.addEventListener("DOMContentLoaded", function() {
        const accessToken = localStorage.getItem('accessToken');

        function fetchUserInfo(token) {
            fetch('/api/user-info', {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            })
                .then(response => {
                    if (response.status === 200) {
                        return response.json();
                    } else {
                        throw new Error('Invalid token');
                    }
                })
                .then(data => {
                    if(data.name && data.image) {
                        document.getElementById('user-info').innerHTML = `
                            <h2>Welcome, ${data.name}</h2>
                            <img src="${data.image}" alt="Profile Image" />
                            <button id="logout-btn">로그아웃</button>
                        `;
                        document.getElementById('logout-btn').addEventListener('click', function () {
                            localStorage.removeItem('accessToken');
                            window.location.href = '/login';
                        });
                    } else {
                        document.getElementById('user-info').innerHTML = `<p>Failed to load user information.</p>`;
                    }
                })
                .catch(error => {
                    console.error('Error fetching user info:', error);
                    localStorage.removeItem('accessToken');
                    window.location.href = '/login';
                });
        }

        if (accessToken) {
            fetchUserInfo(accessToken);
        } else {
            fetch('/api/refresh-token', {
                method: 'GET',
                credentials: 'include'
            })
                .then(response => response.json())
                .then(data => {
                    if (data.accessToken) {
                        localStorage.setItem('accessToken', data.accessToken);
                        fetchUserInfo(data.accessToken);
                    } else {
                        throw new Error('Failed to refresh token');
                    }
                })
                .catch(error => {
                    console.error('Error refreshing token:', error);
                    window.location.href = '/login';
                });
        }
    });

</script>
</body>
</html>
